@charset "utf-8";

body {
    max-width: 800px;
    background-color: lightblue;
    text-align: center;
}

div {
    margin: 0 auto;
}

table {
    display: inline-block;
    background-color: lime;
}

button {
    margin: 5px;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: yellow;
    font-size: large;
}

.holeImage1,
.holeImage2,
.holeImage3,
.holeImage4,
.holeImage5,
.holeImage6,
.holeImage7,
.holeImage8,
.holeImage9 {
    display: none;
    /* 初期状態で非表示 */
}

/* 以下 */
aside {
    display: inline-block;
    width: 280px;
    height: 485px;
    overflow: auto;
    background-color: lime;
    color: chocolate;
    font-family: cursive;
}